<header>
  <div class="background"></div>
  <div class="header">
    <div class="header-left" >
      <div class="home">
        <%= link_to "/", class: "home-link" do %>
          <i class="fa fa-cutlery home-icon" aria-hidden="true"></i>
          <p class="home-icon">Reserve Menu</p>
        <% end %>
      </div>
    </div>
    <div class="header-right">
      <div class="mypage">
      <% if user_signed_in? %>
        <div class="mypage-link">
          <i class="fa fa-user-circle mypge-icon" aria-hidden="true"></i>
          <p class="mypage-icon"><%= current_user.name %>さん</p>
        </div>
        <ul class="header-menu">
          <li><%= link_to "マイページ",mypage_path %></li>
          <li><%= link_to "ログアウト" ,destroy_user_session_path %></li>
        </ul>
      <% else %>
        <div class="mypage-link"%>
          <i class="fa fa-user-circle mypge-icon" aria-hidden="true"></i>
          <p class="mypage-icon">マイページ</p>
        </div>
        <ul class="header-menu">
          <li><%= link_to "ログイン",user_session_path %></li>
        </ul>
      <% end %>
      </div>
    </div>
  </div>
</header>
<script>
$(function() {
  $(".mypage").click(function() {
    $(".background").slideToggle();
    $(".header-menu").slideToggle();
  });
});
</script>
